* {
    border-color:red;
    border-width: 2px;
}

body {
    margin: 0px;
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    padding: 100px;
}

#choices {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

.choice {
    padding: 5px;
    margin-right: 20px;
    margin-left: 20px;
}

#scores {
    display: flex;
    justify-content: space-between;
}

#player-score {
    margin-right: 30px;
}